header {
    align-items: center;
    width: 100%;
    /* height: 100vh; */
    padding: 0.5em 2em;
    background: rgb(72, 28, 47);
    background: linear-gradient(90deg, rgb(75, 41, 56) 0%, rgb(3, 108, 183) 52%, rgba(172, 25, 119, 1) 100%);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div img {
    display: block;
    width: 3em;
    height: auto;
}