footer {
    display: flex;
    justify-content: center;
    background: rgb(72, 28, 47);
    background: linear-gradient(90deg, rgb(75, 41, 56) 0%, rgb(3, 108, 183) 52%, rgba(172, 25, 119, 1) 100%);
}

footer p {
    font-size: 1.1em;
    margin: 1.5em;
}